# 备份文件
/omegat/*.bak
# 进入记录
/omegat/last_entry.properties
# 状态
/omegat/project_stats.txt
/omegat/project_stats_match.txt
# 输出
#/target/*
!/target/.gitkeep
# 各记忆文件，只需要omegat/project_save.tmx即可
/*-level1.tmx
/*-level2.tmx
/*-omegat.tmx
# 汉化包
# /jars